#banner-bg {
    width: 100%;
    height: calc(100vh - 81px);
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1606/Earth_from_space_close_up-Universe_Digital_HD_Wallpaper_1366x768.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .banner-jr {
      color: white;
      text-shadow: 5px 5px 5px #222;
      text-align: center;
      align-items: center;
      width: 50%;
    
      
      img {
          max-height: 40vh;
          border: 3px solid white;
          border-radius:10px;
          
          
          
          
      }  
      h2 {
        font-size: 50px;
        
      }
      p {
        font-size: 20px;
      }
    }
  }